h1 {
    color: blue;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: white;
}

.main {
    display: flex;
}

#list {
    flex: 5;
    background-color: white;
    min-height: calc(100vh - 89vh);
    position: relative;
    background-image: url("../images/background.jpg");
}

#btnTogglePanel {
    position: absolute;
    right: 10px;
    top: 10px;
}

#form {
    flex: 3;
    padding: 10px;
    background-color: f4f4f4f4;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 6px;
    min-height: calc(100vh - 89vh);
}

#form .control {
    margin-bottom: 12px;
}

form .control label {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.iImportant {
    font-size: 32px;
    cursor: pointer;
}

#form .control .fas {
    color: red;
}

#form .control .far {
    color: gray;
}

#form h3 {
    text-align: center;
    font-weight: 100;
    color: gray;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.task-item {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.task-item:hover {
    border-color: blue;
    background-color: aqua;
}

.task-item .info-1 {
    flex: 3;
}

.task-item .info-2 {
    flex: 1;
}

.task-item .info-2 label {
    display: block;
}

.task-item .info-3 {
    flex: 1;
}
